### Gradle template
.gradle
build

### JetBrains template
.idea
*.iml

# IntelliJ
out

### Java template
# Compiled class file
src/test/
*.class

# Log file
*.log

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Jrebel template
src/main/resources/rebel.xml